.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
  height: 80vh;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

